// SETTING UNIVERSAL STYLES


h1,h2,h3,h4,h5,h6 {
    font-family: RobotoCondensed,sans-serif;
}

p{
    font-family: Open-Sans,sans-serif;
}

footer
{
    ul{
        li{
            font-family: Roboto,sans-serif;
            margin: 1em 0;
        }
    }
}



// FOR LEFT SIDEBAR
.skin-blue {

    .username
    {
        &:first-letter{
            color: #FF0056;
        }

        text-transform: capitalize;
    }
    .main-header {
        .logo {
            background: #1A2226;
            &:hover {
                background: #222D32;
            }

            #logoBig
            {
                @include transition(0.5s);

                -webkit-transition-delay: 0.5s;
                -moz-transition-delay: 0.5s;
                -ms-transition-delay: 0.5s;
                -o-transition-delay: 0.5s;
                transition-delay: 0.5s;
            }
            #logoSmall
            {
                @include transition(0.5s);
                -webkit-transition-delay: 0.5s;
                -moz-transition-delay: 0.5s;
                -ms-transition-delay: 0.5s;
                -o-transition-delay: 0.5s;
                transition-delay: 0.5s;
                opacity: 0;
                width: 40px;
                margin: 0;
                display: block;
                position: absolute;
                padding: 0;
                left: 5px;
                top: 8px;

            }

            @include transition(0.5s);

        }


        .navbar {
            background: rgba(37, 149, 255, 0.8);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            @include box-shadow(0,1px,10px,rgba(0, 0, 0, 0.48));
        }
    }

    .sidebar-menu {

        .header{
            font-size: 1.1em;

        }
        li {
            &:hover {
                a.hi {
                    background: rgba(255,0,86,0.7);
                    border-left-color: #FF0056;

                }
            }
            a {
                -webkit-transition: 0.01s;
                -moz-transition: 0.01s;
                -ms-transition: 0.01s;
                -o-transition: 0.01s;
                transition: 0.01s;
                color: white;
                .fa
                {
                    color: white;
                    font-size: 1.1aem;
                }
            }
        }

    }

}

.raspberryStyle {
    background-color: #FF0056 !important;
    color: white;
}

.raspberryColor{
  color:#FF0056 !important;

  .stars{
    font-size:24px !important;
  }
}



.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: white;

    .fa
    {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

        &:hover
        {
            font-size:1.3em;
        }

    }

}


// AS top bar became fixed, content wrapper should have padding to show all information
.content-wrapper {
    padding-top: 50px;
}

// colouring plus button
.mfb-component--br
{
    a{
        &:hover{
            color: #8E0936 !important;
        }
    }
}
.mfb-component__button--main, .mfb-component__button--child
{
    background-color: #FF0056 !important;
    @include box-shadow(0,1px,20px,rgba(0, 0, 0, 0.45));
}

// STYLES FOR WEATHER

.gsInformer {

    border: none !important;
    width: 100%;
    font-family: Arial;
    border: 0px;
    height: 83px;
    overflow: hidden;
    border-bottom-right-radius: 50px;



    div,span, p, a,
    em, img, table, tbody,
    tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit
    }

    *:focus {
        outline: 0
    }

    table,tbody.gsInformer thead,
    tr,th,td {
        vertical-align: top
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 0;
        padding: 0;
        table-layout: auto!important
    }

    th,td {
        text-align: left;
        font-weight: normal;
        empty-cells: show;
        color: inherit;
        background-color: inherit
    }

    img {
        display: inline!important;
        box-shadow: initial
    }

    .nolink,a {
        background: 0;
        text-decoration: none;
        color: inherit
    }

    &.informerPadding {
        padding: 1px
    }

    table td {
        font-size: 11px;
        color: inherit
    }

    em {
        font-style: normal
    }

    &.loading {
        background: url(/img/ajax-loader.gif) no-repeat center center
    }

    .cleaner {
        clear: both;
        height: 1px;
        font-size: 1px;
        border: 0;
        margin: 0;
        padding: 0;
        background: transparent
    }

    #cityLink {
        text-align: center;
            background: #fff;
        font-size: 13px;
        font-weight: bold
    }

    #cityLink a {
        font-family: Arial!important;
        color: #000!important;
        text-decoration: none
    }

    .display {
        display: inline-block;
        *display: inline;
        zoom: 1;
        margin-top: 0;
        vertical-align: top
    }

    .iehack {
        margin-top: 0
    }

    #error {
        text-align: center;
        vertical-align: middle;
        padding-top: 5px
    }

    #gsCityHead {
        font-weight: bold;
        font-size: 13px;
        padding: 5px 0 5px 0;
        text-align: center;
        white-space: nowrap


    }

    #gsCityHead.padding {
        padding: 6px 0 10px 0
    }

    #tdIcon {
        white-space: nowrap;
        text-align: center
    }

    .head {
        position: relative;
        z-index: 7
    }

    .gsCityF {
        font-weight: bold;
        font-size: 13px;
        padding: 5px 0 5px 0;
        text-align: center;
        white-space: nowrap
    }

    .main_wrap {
        width: 100%;
        text-align: left;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .secondaryWrap {
        background: white !important;
        width: 100%;
        height: 100%;
        color: #000 !important;
        position: relative;
        padding-top: 1.5em;
        table {
            height: 34px;
            td {
                height: 35px;
                vertical-align: top;
            }
        }
    }

    .gsCity {
        font-weight: bold;
        text-align: left;
        padding: 8px 0 0 0;
        font-size: 13px;
        zoom: 1;
        height: 27px;
        margin-top: 0;
        white-space: nowrap;

        span {
            padding-left: 12px;
            display: block;
        }
    }

    .gsWeatherIcon {
        margin-top: -9px;
        z-index: 8;
        position: relative;

        img {
            vertical-align: middle;
        }

        &.margin {
            margin-top: -22px;
            margin-right: 0;
            width: 74px;
        }

    }

    .gsTemp {
        font-weight: bold;
        padding: 8px 0 0 0;
        font-size: 13px;
        height: 27px;
        zoom: 1;
        position: relative;

        .paddingRight {
            padding-right: 12px;
            padding-left: 0!important;
        }
    }

    .gsTemp2 {
        font-weight: bold;
        padding: 0;
        font-size: 13px;
        height: 27px;
        zoom: 1;
        position: relative;

        span {
            padding-right: 0;
        }
    }

    .tsp {
        padding: 0!important;
        margin: 0!important;
        *display: inline!important;
        *display: inline-block!important;
        display: inline!important;
        display: inline-block!important;
        display: -moz-inline-box!important;
        width: .2em!important;
        height: .2em!important;
        overflow: hidden!important;
        text-decoration: inherit;
        em {
            font-weight: bold;
            display: inline;
        }
    }

    .gsAddInfo {
        font-size: 11px;
        text-align: center;
        padding-top: 0;
    }

    .gsAddInfo2 {
        text-align: center;
        color: #000 !important;
        background-color: white !important;

        &.padding2 {
            padding-top: 10px;
        }

        &.padding3 {
            padding: 0;

            .gsAddInfo3
            {
                padding: 0;
            }
        }

        &.empty{
            .gsAddInfo3
            {
                padding: 0;
            }

        }
    }

    .gsAddInfo3 {
        padding: 3px 0 3px 0;
    }

    .gsLinks {
        .img-untop {
            margin-top: 0;
        }
    }

    #windAddInfo,
    #pressAddInfo,
    #humidityAddInfo {
        white-space: nowrap;
        margin: 0 2px;
    }

    .centralized {
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
        div {
            zoom: 1;
            text-align: center;
            padding-top: 1px;
            padding-bottom: 2px;
        }
    }

    .colsWrapper_1 {
        position: relative
    }

    .colsWrapper_2 {
        position: relative;
        padding: 0;
        overflow: hidden;
        zoom: 1
    }

    .cols {
        position: relative;
        width: 100%
    }

    .cols_1 {
        width: 100%;
        margin: 0
    }
    .cols_1.padding {
        padding: 5px 0 0 0
    }
    .cols_1 .col {
        width: 25%;
        padding-left: 1px;
        padding-right: 1px
    }
    .cols_1 #colsDays {
        padding-bottom: 1px
    }
    .cols .col_h.today,
    .cols .col_h.tomorrow {
        text-align: center;
        padding-top: 4px;
        padding-bottom: 0
    }
    .col {
        height: auto;
        float: none
    }
    .col_h {
        height: 13px;
        float: left
    }
    .col_h span {
        display: inline-block;
        *display: inline;
        zoom: 1;
        white-space: nowrap;
        padding-left: 2px;
        padding-right: 2px
    }
    #colsData td {
        white-space: nowrap;
        text-align: center
    }
    .col .time {
        font-weight: bold;
        text-align: center
    }
    .col .temperature,
    .col .deg {
        font-weight: bold;
        text-align: center;
        padding: 3px 0 3px 0;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .col .pressure,
    .col .wet,
    .col .wind {
        text-align: center;
        display: block
    }
    .s_icon {
        width: 34px;
        height: 34px;
        position: relative;
        margin: auto;
        display: block;
        padding: 0!important
    }
    .s_icon.sunny {
        background-position: 0 0
    }
    .gsLinks {
        cursor: default;
        font-size: 11px!important;
        font-family: Arial!important;
        color: #000!important;
        height: auto;
        padding-top: 3px;
        padding-bottom: 2px;
        text-align: left;
        display: none;
        height: 16px;
        overflow: hidden;
        position: relative
    }
    .gsLinks.padding {
        padding-top: 10px
    }
    .gsLinks table td {
        font-family: Arial!important;
        vertical-align: top
    }
    .gsLinks .leftCol {
        margin-left: 5px;
        float: left
    }
    .gsLinks .leftCol a {
        text-decoration: none
    }
    .gsLinks .leftCol a:hover {
        text-decoration: none
    }
    .gsLinks .leftCol span {
        display: inline-block;
        *display: inline;
        zoom: 1;
        margin-top: 2px;
        padding-left: 2px;
        color: #000!important
    }
    .gsLinks .leftCol b {
        font-weight: normal!important;
        color: #000!important
    }
    .gsLinks .leftCol .gis-blue {
        font-size: 11px!important;
        font-weight: normal;
        color: #06c!important;
        background: none!important
    }
    .gsLinks .leftColCenter {
        margin-left: 0;
        float: none;
        text-align: center
    }
    .gsLinks .rightCol {
        margin-right: 5px;
        padding-top: 2px;
        float: right
    }
    .gsLinks img {
        position: relative;
        padding-right: 0;
        top: -2px;
        vertical-align: middle
    }
    .gsLinks .rightCol a {
        color: #000!important;
        text-decoration: underline;
        margin: 0
    }
    .gsLinks .rightCol a:hover {
        text-decoration: underline;
        color: #c00!important
    }
    .tourism #tHead {
        color: #7a7a7a;
        background: #fff
    }
    .tourism td {
        padding: 3px 5px 3px 5px;
        white-space: nowrap;
        vertical-align: middle
    }
    .tourism #tCity {
        text-align: left;
        width: 55%
    }
    .tourism #tTempAir {
        text-align: right;
        width: 15%
    }
    .tourism #tTempWater {
        text-align: right;
        width: 15%
    }
    .tourism #tWindSpeed {
        text-align: right;
        width: 15%
    }
    #gs-moduleTourismBlock {
        cursor: default
    }
    .tourism .tCityDiv {
        text-align: left;
        height: 18px
    }
    .tourism .tTempAirTD {
        text-align: right
    }
    .tourism .tTempWaterTD {
        text-align: right
    }
    .tourism .tTempWindSpeedTD {
        text-align: right
    }
    .tourism .tCityDiv {
        font-size: 13px;
        height: 18px;
        line-height: 16px;
        margin-top: 2px;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .tourism .tTempAirSpan {
        font-size: 13px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        margin-top: 2px;
        margin-right: 5px;
        height: 18px;
        line-height: 16px
    }
    .tourism .tTempAirSpanImg {
        font-size: 13px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 18px;
        vertical-align: top;
        margin-top: 1px
    }
    .tourism .tTempWaterSpan {
        display: inline-block;
        *display: inline;
        zoom: 1;
        font-size: 13px;
        line-height: 16px;
        margin-top: 2px;
        height: 18px
    }
    .tourism .tWindSpeedSpan {
        font-size: 13px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding-right: 5px;
        height: 18px;
        line-height: 16px;
        margin-top: 2px
    }
    .tourism .tWindSpeedArrow {
        font-size: 13px;
        display: inline-block;
        *display: inline;
        zoom: 1;
        height: 18px;
        line-height: 16px;
        margin-top: 2px
    }
    .tourism .tCityDiv a {
        font-size: 13px;
        color: inherit;
        text-decoration: underline
    }
    .tourism .tCityDiv a:hover {
        color: inherit;
        text-decoration: underline
    }
    .graphInf {
        padding-top: 5px;
        padding-bottom: 5px
    }
    .graphInf .graphHead,
    .graphInf .graphTemp {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 0;
        padding-bottom: 6px;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px
    }
    .banner {
        display: block;
        width: 728px;
        height: 90px;
        position: relative;
        background: url(https://www.gismeteo.ru/static/images/informer2/banner-f.jpg) no-repeat;
        font-size: 10px;
        text-decoration: none;
        font-family: 'Arial'
    }
    .banner em {
        display: block;
        width: 170px;
        height: 40px;
        position: absolute;
        background: url(http://www.gismeteo.ru/static/images/informer2/logoUA.png) no-repeat;
        left: 26px;
        top: 19px
    }
    .banner span.banInf table {
        width: 200px
    }
    .banner .Icon {
        margin-top: -4px
    }
    .banner #gs-moduleCurrentBlock,
    .banner #gs-moduleForecastBlock {
        width: 200px
    }
    .banner .cols_1 {
        text-align: center
    }
    .banner i {
        display: block;
        width: 192px;
        height: 55px;
        position: absolute;
        background: url(http://www.gismeteo.ru/static/images/informer2/panel.png) no-repeat;
        right: 10px;
        top: 10px;
        font-size: 1.1em;
        color: #fff;
        text-align: center;
        line-height: 1.8em;
        padding-top: 1.4em
    }
    .banner i b {
        font-size: 1.2em;
        font-style: normal
    }

    .banner .banInf {

        display: block;
        font-size: 1.1em;
        color: #fff;
        line-height: 1.9em;
        padding-left: 264px;
        padding-top: 6px

        b {
            font-size: 1.2em
        }
        img {
            position: relative;
            top: .3em;
            margin-left: .2em;
            margin-right: .1em
        }
        strong {
            font-weight: normal;
            font-size: 2em;
            line-height: .7em
        }

    }




}

.avatarRound
{
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  background-position: 50%;
  margin: 0 auto;

  @include box-shadow(0px,0px,7px,rgba(0, 0, 0, 0.37));
  @include transition(0.5s);

  &.small
  {
    width:70px;
    height:70px;
  }

  &.extraSmall
  {
    width:50px;
    height:50px;
  }
}

.success-rasp
{
  border: none !important;
  background-color: #FF0059  !important;
  border-bottom-right-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  text-align: center !important;
  box-shadow: 0px 0px 10px #FF0059 !important;
}
.alert.alert-danger.success-rasp {
  background-color: #FF5252  !important;
  box-shadow: 0px 0px 10px #FF5252 !important;
}
.alert.alert-success.success-rasp {
  background-color: #64dd17 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.38) !important;
  font-family: RobotoCondensed !important;
  font-size: 1.8rem;
}
.alert.alert-warning.success-rasp {
  background-color: #FF9800  !important;
  box-shadow: 0px 0px 10px #FF9800 !important;
}
.alert.alert-info.success-rasp {
  background-color: #FFEB3B  !important;
  box-shadow: 0px 0px 10px #FFEB3B !important;
}

.user-menu .user-header p{
  color: white !important;

}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side
{
  background: none;
}


.timeLineDate
{
  background-color: #2595FF !important;
  color: white !important;
  border-radius: 0 !important;
  box-shadow: 0px 0px 10px #2595FF !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

#relative
{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
}

#clock
{
    font-family: Oswald;
    padding: 0.5em 0;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    margin: 0 auto;
}

.glyphicon,.fa{

    margin: 0px 10px 0px 0px;

}

footer{
    h5
    {
        font-weight: bold;
    }
    a{
        color: #B8C7CE !important;
        @include transition(0.5s);
        &:hover
        {
            color: #2595FF !important;
        }
    }
}

em{
    color: #777;
}

.online{
    color: #3DDE40;
    text-shadow: 0px 0px 10px;
}

.myIcons
{
    display: inline-block !important;
    img
    {
        width: 30px;
        margin: 0px 10px 0px 0px;
    }
}

.addLightBorder{
    border-bottom:1px solid #f4f4f4;
}


.oswaldStyle{
    font-family: 'Oswald', sans-serif !important;
}


.russoIt
{
  font-family: 'RussoOne', sans-serif;
}

.robotoIt
{
  font-family: 'RobotoCondensed', sans-serif;
}

.openSansIt
{
  font-family: 'Open-Sans', sans-serif;
}


.whiteIt
{
    color: #fff !important;
    text-transform: none;
}

md-card
{
    p{
        font-size: 1.6rem !important;
    }
}

label
{
  font-family: Open-Sans, sans-serif;
}


.panel-default>.panel-heading{
  color: white !important;
  background-color: #2595FF !important;
}

.sidebar-menu
{
    height: 529px !important;
}


.blackStyle
{

    color:#1A2226 !important;
}

.sidebar-collapse
{
    .sidebar-menu li a
    {
        padding-left: 5px;
    }

    .hi{
        &:hover
        {
            span{
                display: inline-block;
                background: #BD0D4B;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                position: absolute;
                left: 35px;
                z-index: 111;
                top: 0px;
                height: 54px;
                text-align: center;
                padding: 1.3em 1em;
                }
        }

        span{
            display: none;
            &:hover{
                display: inline-block !important;
                background: #BD0D4B;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 0;
                position: absolute;
                left: 35px;
                z-index: 111;
                top: 0px;
                height: 54px;
                text-align: center;
                width: 200px;
                padding: 1.3em 1em;
            }
        }


    }

    .sidebar-menu  li:hover .hi span{
                    display: inline-block;
                    background: #BD0D4B;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 0;
                    position: absolute;
                    left: 35px;
                    z-index: 111;
                    top: 0px;
                    height: 54px;
                    text-align: center;
                    width: 200px;
                    padding: 1.3em 1em;
                }



    .hi:hover + .treeview-menu,.treeview-menu:hover:not(.menu-open)
    {


            display: block;
            background: #BD0D4B;
            position: absolute;
            left: 50px;
            padding: 1em 1em;
            top: 54px;
            z-index: 11111111111111111;
            width: 123px;
            text-align: left;
            padding-left: 0;
    }

    .mCustomScrollBox,.mCSB_container
    {
        overflow: visible !important;
    }

}

.sub-menu
{
    width: 185px !important;
}

th{
    font-family: Roboto !important;
}
