// OSWALD
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Oswald Light';
    src: url('/fonts/Oswald/Oswald-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Oswald Bold';
    src: url('/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}

// RUSSO-ONE
@font-face {
    font-family: 'RussoOne';
    src: url('/fonts/Russo_One/RussoOne-Regular.ttf') format('truetype');
}

// ROBOTO-CONDENSED
@font-face {
    font-family: 'RobotoCondensed';
    src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'RobotoCondensed Light';
    src: url('/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'RobotoCondensed Bold';
    src: url('/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
}

// OPEN SANS
@font-face {
    font-family: 'Open-Sans';
    src: url('/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open-Sans Light';
    src: url('/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open-Sans Bold';
    src: url('/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

// OPEN SANS CONDENSED


@font-face
{
    font-family: 'Open-Sans-Condensed';
    src: url('/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open-Sans-Condensed Bold';
    src: url('/fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf') format('truetype');
}

// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto Light';
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
