.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-bottom: 8rem;
}
.custom-file-upload .preview_image {
  margin: 5rem auto;
  display: block;
  width: 150px;
  max-width: 150px;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  @extend .clearfix;
}

.file-upload-input {
  width: 75%;
  color: #cacaca;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  border-bottom: 1px solid #cacaca;
  background-color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: #fff;
  outline: none;
}

.file-upload-button {
  @extend .md-button;
  @extend .md-raised;
  float: left;
}
