// Окраска в корп. цвет при фокусировке
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: 1px solid #FF0054;
    box-shadow: 0 1px 0 0 #FF0054;

}

.btn:hover, .btn-large:hover
{
    background-color: #166DBF;
    color: white;
}

.btn,.btn-large
{
    background-color: #2595FF;
}

input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after, input[type=password].invalid + label:after, input[type=password]:focus.invalid + label:after, input[type=email].invalid + label:after, input[type=email]:focus.invalid + label:after, input[type=url].invalid + label:after, input[type=url]:focus.invalid + label:after, input[type=time].invalid + label:after, input[type=time]:focus.invalid + label:after, input[type=date].invalid + label:after, input[type=date]:focus.invalid + label:after, input[type=datetime-local].invalid + label:after, input[type=datetime-local]:focus.invalid + label:after, input[type=tel].invalid + label:after, input[type=tel]:focus.invalid + label:after, input[type=number].invalid + label:after, input[type=number]:focus.invalid + label:after, input[type=search].invalid + label:after, input[type=search]:focus.invalid + label:after, textarea.materialize-textarea.invalid + label:after, textarea.materialize-textarea:focus.invalid + label:after{
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

.form-control
{
    text-shadow: 0px 0px 1px white;
    color: #FFFFFF;
}

.login-logo, .register-logo
{
    margin: 0 auto !important;
    width: 200px !important;
}

.register-logo img{
    width:100%;
}

// SETTING UNIVERSAL STYLES

h1,h2,h3,h4,h5,h6 {
    font-family: RobotoCondensed,sans-serif;
}

p{
    font-family: Open-Sans,sans-serif;
}


label
{
  font-family: Open-Sans, sans-serif;
}



.another
{
    font-family: RobotoCondensed;
    font-weight: bold;
}


.login-box-msg, .register-box-msg
{
    margin: 0.5em 0 !important;
}

input,input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;

    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
     -webkit-transition-delay: 9999s;

}
.skin-blue .main-header .navbar .sidebar-toggle:hover
{
    background: #2595FF !important;
}
