.md-select-menu-container {
	z-index: 9999 !important;
}
.nowrap {
	white-space: nowrap;
}
@media screen and (max-width: 900px) {
	.text-right.text-center-sm, .text-left.text-center-sm {
		text-align: center !important;
	}
}
.md-button.md-raised.md-primary-btn {
	background: #2595FF;
	color: #fff;
}

.md-button.md-raised.md-primary-btn:hover, .md-button.md-raised.md-primary-btn:focus {
	color: #212121;
}

md-dialog#modalKhans {
	width: 50%;
}

#modalKhanscontent {
	width: 100%;
}

table.table td {
  vertical-align: middle !important;
}

.angular-button {
  @extend .md-button;
  @extend .md-raised;
}

// md-input-container {
// 	position: relative;
// }

.salonimg-wrap {
	max-width: 80%;
}
.subhead {
	width: 100%;
}
@media screen and (min-width: 768px) {
	width: 70%;
}
.congrats-bg {
	background: url('../../img/imgur.png');
}
.raspberry-color {
	color: #FF0056;
}
.congrats-wrap {
	min-height: 80vh;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
	border-left: none !important;
	border-top: 4px solid #2186E6 !important;
	padding-top: 0 !important;
}
.skin-blue .main-header li.user-header {
	background-color: #2595FF !important;
}

// flash ul style
.alert.alert-danger.success-rasp ul li:before {
	position: absolute;
	left: 24px;
	content: counter(flash) "";
	counter-increment: flash;
	font-weight: bold;
	border: 2px solid white;
	border-radius: 50%;
	padding: 1px 6px;
	text-align: center;
	margin: 0 7px;
}

.success-rasp ul {
	list-style: none;
	counter-reset: flash;
}
.success-rasp ul li {
	text-align: left !important;
}
.md-primary-btn md-icon {
	color: inherit !important;
	margin-top: 5px;
}

// анимация с часами

.colon_anim {
	animation: blink 1s linear;
	animation-iteration-count: infinite;
	margin: 0px 2px;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.congrats-bg .content-header {
	background-color: #fff !important;
	color: #2185e6 !important;
}
.congrats-bg .content-header > .breadcrumb {
	color: #2185e6 !important;
}
.timeline_tab md-tab-content {
	padding: 2rem !important;
}
.tengepng {
	background: url(../../img/Tenge_symbol.svg);
	width: 8px;
	height: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

// styles for md-selects without md-input-container
.md_select_label {
	color: rgba(0, 0, 0, 0.46);
	font-weight: 300;
	margin-bottom: 0;
}
.md_select_label + md-select {
	margin-top: 0px;
}
.tooltip_table {
	color: #212121;
	background: rgba(255, 255, 255, 0.3);
	padding: 4px 10px;
}
.checkbox_toolbar {
	background: #2595FF !important;
	box-shadow: 0px 0px 10px #2595FF ;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	max-height: 50px !important;
	min-height: 45px !important;
	line-height: 45px !important;
	padding: 0 20px !important;
	font-size: 1.4rem;
}
.chekbox_toolbar h4 {
	margin: 0 !important;
}
.clickcell {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	background: rgba(255, 0, 86, 0.6);
}
.fillingRow {
	border: none !important;
	background-color: rgba(255, 0, 86, 0.6);
}
.fillingRow:hover, .fillingRow:focus {
	// background-color: rgba(255, 0, 86, 0.6) ;
}
#confeti {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.md-toolbar-tools .calendar-md-title {
	overflow: visible ;
}
.progress-text {
	text-align: center;
}
@media screen and (min-width: 992px) {
	.progress-text {
		-align: left;
		padding-left: 0px !important;
	}
}


.md-button.md-raised.md-primary-btn:hover, .md-primary-btn.file-upload-button:hover, .md-primary-btn.angular-button:hover, .md-button.md-raised.md-primary-btn:focus, .md-primary-btn.file-upload-button:focus, .md-primary-btn.angular-button:focus{
	color: white !important;
}

a.md-button.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover{
	    background-color: #087DEC !important;
}

.md-button, .file-upload-button, .angular-button{
	font-family: Roboto, sans-serif !important;
	text-transform: none !important;
	
}
