
.register-page {
    background: url(/img/landing/bg.png) no-repeat center;
    background-size: cover;

}



.lockscreen {
    background: linear-gradient(to right, #e81123, #e81123 17%, #f7941d 17%, #f7941d 34%, #fff100 34%, #fff100 51%, #00a650 51%, #00a650 68%, #0054a5 68%, #0054a5 85%, #672d93 85%, #672d93);
}

.login-box-body, .register-box-body {
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: 0 0 10px black;
}

.login-box, .register-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.login-logo a, .register-logo a {
    color: #EFEBEB;
}

.login-box-body, .register-box-body {
    color: #fff;
}
