@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Russo+One|Roboto+Condensed:400,700&subset=latin,cyrillic);
/* navbar */
.app-navbar {
  font-weight: 500;
  letter-spacing: .05em;
  position: absolute;
}


/* header block */
.y {
  width: 150%;
  position: absolute;
  right: 0;
  bottom: -40px;
}
@media (min-width: 768px) {
  .y {
    width: 100%;
    bottom: 0;
  }
}

#swiperOn{
  padding: 4em;
  width: 300px;
  height: 590px;
}

#swipeCont{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #swipeCont{
    flex-direction: column;
    align-items: center;
  }
  #swiperOn{
    position: relative;
    left: -4em;
  }
}


#swiperOn:before{
  content: '';
  display: block;
  position: absolute;
  background: url(/img/nozh/app.png);
  width: 764px;
  height: 668px;
  background-size: contain;
  left: -26px;
  background-repeat: no-repeat;
  top: -44px;
}



/* iphone block */
.z {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .z {
    padding-bottom: 0 !important;
  }
}


/* code block */
.aa {
  background-color: #262F36;
  overflow: hidden;
}
.ab {
  color: #6EA4CF;
  border: #495158 1px solid;
  background: transparent;
  font-size: 12px;
  padding: 20px;
  line-height: 1.55;
  margin-bottom: 30px;
}
.ab span {
  color: #8496A5;
}
@media (min-width: 768px) {
  .ab {
    width: 600px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .ab {
    padding: 50px;
    font-size: 15px;
  }
}


/* pull quote block */
.ac img {
  width: 100%;
}


/* brand ribbon block */
.ad {
  background: #2595FF;
}
.ad .e {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -30px;
}
.ad img {
  margin: 0 10px 30px;
}


/* marketing grid block */
.ae .e {
  margin-bottom: -60px;
}
.af .ag {
  margin-bottom: 10px !important;
}
@media (max-width: 768px) {
  .af .ah {
    margin-bottom: 40px !important;
  }
}


/* price plan block */
.ai {
  background-color: #F4F5F6;
}
.ai .e {
  margin-bottom: -60px;
}


/* footer block */
.aj {
  background-color: #262F36;
}
.aj a {
  color: #fff;
}


/* general block overrrides */
@media (max-width: 768px) {
  .k .ak {
    line-height: 1.3;
  }
  .k h3 {
    line-height: 1.15;
  }
}


/* general inverse overrides */
.al .am {
  color: rgba(255, 255, 255, .7);
}
.al .an {
  background-color: transparent;
}


/* general btn overrides */
.ao {
  font-size: 18px;
}
.block-secondary .ao {
  width: 100%;
}
.ao:not(.btn-block) {
  padding: 12px 50px;
}
@media (min-width: 768px) {
  .ao:not(.btn-block) {
    width: auto;
  }
}


/* ie10+ */
@media (min-width: 768px) {
  .ap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.registration-link {
  display: block;
  background: transparent;
  border: 3px solid #007cf1;
  /*padding: 10px 20px;*/
  border-radius: 0px;
  transition: 0.3s;
}
.registration-link:hover, .registration-link:focus {
  background: #007cf1  !important;
}
.logotype {
  max-width: 100% !important;
  height: auto;
  margin-top: -8.5px;
}
@media screen and (min-width: 768px) {
  .only-sm {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .nav > li > a {
      padding: 10px 10px !important;
  }
}

.mac-window {
  background: url(../img/white-devices-noscreen-cinema.webp) no-repeat;
  height: 450px;
  max-width: 720px;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .mac-window {
    height: 250px; } }

@media screen and (min-width: 960px) {
  .mac-window {
    color: red;
    height: 345px;
    } }

.img-window {
  max-width: 90%;
  max-height: 70%;
  width: 86%;
  height: 65%;
  overflow: hidden;
  margin: auto }

.img-window-bg {
  width: 80%;
  height: 80%; }

.swiper-container {
  width: 100%;
  height: 100%;
  background: #262F36; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
          align-items: center; }

.map-container {
  position: relative;
  box-shadow: 0px 0px 10px;
  z-index: 11; }
  .map-container * {
    color: #fff !important; }

.img-responsive {
  max-width: 100%;
  height: 1005;
}
.section_slider {
  background: #262F36;
}
.container {
  font-size: 0;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
}
.container > div {
  vertical-align: middle;
}
.container:after, .container:before {
  content: '';
  clear: both;
  display: table;
}
.sol {
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 5rem;
  text-align: center;
}
.sol .vertical-center {
  margin: auto;
}
.sol .alp {
  color: #fff;
}
.on {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .sol {
    width: 30%;
    margin-bottom: 0;
    text-align: left;
  }
  .on {
    margin-left: 10%;
    width: 60%;
  }
}

.gc.anh.ah strong{
  display: block;
}


p,li{
  font-family: 'Open Sans', sans-serif !important;
}


h1,h2,h3,h4
{
  font-family: 'Roboto Condensed', sans-serif;
}

h5,h6,.russoIt
{
  font-family: 'Russo One', sans-serif;
}

.raspeberry{
color:#FF0056  !important;
}

#intro{
  background: url(/img/landing/bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 10px black;
  z-index: 1;
  overflow: hidden;

}

.blackBg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  opacity: 0.4;
}


.specBtn
{
  color: #fff !important;
  padding: 16px 29px !important;
  background: transparent !important;
  border-radius: 0px !important;
  border: 4px solid #007CF1 !important;

  -webkit-transition: all 0.2s ease-out !important;
  -moz-transition: all 0.2s ease-out !important;
  -ms-transition: all 0.2s ease-out !important;
  -o-transition: all 0.2s ease-out !important;
  transition: all 0.2s ease-out !important;

}

.specBtn:hover{
  background: #007CF1 !important;
}
