.dropdown-content {
  @extend .z-depth-1;
  background-color: $dropdown-bg-color;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  list-style: none;
  font-size: 15px;
  line-height: 1.5;
font-family: "Roboto", sans-serif;
font-weight: normal;
color: rgba(0, 0, 0, 0.87);
  li {
    clear: both;
    color: $off-black;
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;

    &:hover, &.active {
      background-color: $dropdown-hover-bg-color;
    }

    & > a, & > span {
      font-size: 1.2rem;
      color: #444444;
      display: block;
      padding: 1rem 1rem;
    }

    // Icon alignment override
    & > a > i {
      height: inherit;
      line-height: inherit;
    }
  }
}
