.tabs {
  @include flexbox();
  position: relative;
  height: 48px;
  background-color: $tabs-bg-color;
  margin: 0 auto;
  width: 100% !important;
  white-space: nowrap;

  .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 15%;

    a {
      color: #2596FF;
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);
      &:hover {
        color:#0D579C;
      }
    }

    &.disabled a {
      color: lighten($tabs-text-color, 20%);
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #2595FF;
    will-change: left, right;
  }
}

.tabs .tab { padding: 0; }
